# gitignore
.Rhistory
background/
data/
manuscript/
other_models/
simul_output/
extras/
repo_data/90pct_red/
repo_data/manuscript_v1/
# repo_data/SARI_watch_under5y_hosp.csv
*.pdf
*.odg
*.png
refresh_gitignore.sh
.Rproj.user
reproduce_results.R
revisions.R
